/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* variabile */

:root{
    /* colori */
    --player-col:#282828;
    --upbar-col:#080b127a;
    --main-col:#141922;
    --white-col:white;
    --black-col:black;
    --subtitle-color:#7B7D82;
    --plus-col:#A3A3A3;
    --font:#777A7F;
    --borderbott-green:#ADFF2F;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Montserrat', sans-serif;
}

.font-grey{
    color:var(--font) ;
    font-weight: 400;
}
i{
    color: var(--white-col);
}
/* common */
.contenitore{
    display: flex;
    height: 90vh;

   background-color: var(--main-col);
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.colum{
    flex-direction: column;
}

ul li{
    list-style: none;
    padding: 0.5rem;
}

/* playersection */

.player{
    width: 100vw;
    height: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    /* debug */

    background-color:var(--player-col);
}

.player-col{
    display: flex;
    align-items: center;
}

/* left bar */
 .separare> div{
    padding-right: 1rem;
}
.icons-player-left{
    padding-left: 2rem;
    
}
.separare i{
    padding-right: 1rem;
    color: var(--font);
}

.separare i:hover{
    color: var(--white-col);
}
.left-image{
    width: 5vh;
}

.pad-left{
    padding-left: 2rem;
}

.text h2{
    color: var(--white-col);
}

.text p{
    color: var(--subtitle-color);
}



/* central bar */
/* top */
.play{
    display: flex;
    align-items: center;
    height: 50%;
}

.play i{
    padding: 1rem;
    font-size: 1.5rem;
}
.dimensione{
    transition: all .2s ease-in-out;
}
.dimensione:hover{
    transform: scale(1.2);
}
/* bottom */
.player-col hr{
    display: inline-block;
    border: 2px solid var(--subtitle-color);
    width: 20vh;
    margin-left: 0;
}
.songbar{
    
    margin: 1rem; 
}
.time{
    color: var(--white-col);
}
input[type="range" i]{
    appearance:auto;
    cursor: var(--borderbott-green);
    width: 20vw;
    height: 1vh;
    border-radius: 3rem;
    cursor: auto;
}
input[type="range" i]::-webkit-slider-runnable-track{
    background-color: var(--white-col);
    border-radius: 3rem;
    width: 50%;
}


.right input[type="range" i]{
    width: 15vw;
}



.songbar hr:first-child{
    width: 7vh;
    margin-right: -1rem;
    border: 2px solid var(--white-col);
}

/* rightbars */
.icons-right i{
    padding: 0.5rem;
}
/* sidebar */

.sidebar{
    width: 300px;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 77777;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white-col);
    background-color: var(--black-col);

}
.primo-logo{
    width: 80%;
    margin: 0 auto;
}

.secondo-logo{
   
    display: none;
}
.sidebar h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.plus{
    color: var(--black-col);
    background-color:var(--plus-col) ;
    padding: 1rem;
    margin-right: 0.5rem;
}
.container-sidebar{
    padding: 1rem;
}
.bottom{
    display: flex;
    flex-direction: column;
    display: inline-block;
    padding-bottom: 2.5rem;
}

.installa{
    display: flex;
    align-items: center;
}

.sidebar-bottom-text{
    padding-left: 1rem;
}
.icon-sidebar{
    display: inline-block;
    width: 2rem;
    
  
}

.crc{
    border-radius: 50%;
    background-color: var(--plus-col);
}

.sidebar ul li{
    padding-top: 0.8rem;
    font-weight: 600;
    color: var(--font);
}
.text-sidebar ul li a{
    text-decoration: none;
    color: var(--font);
}
/* hover */
.text p:hover{
    text-decoration: underline;
}
.sidebar ul li:hover{
    color: var(--white-col);
    border-left: 1px solid var(--borderbott-green);
}
/* central */

.central{
    width: calc(100% - 300px);
    margin-left: 300px;
    overflow-y: auto;
    color: var(--white-col);
    /* debug */
    background-color:var(--main-col);
}



.upgrade-bar{
    width: calc(100% - 300PX);
    height: 7vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
        /* debug */
    background-color: var(--upbar-col) ;
}
/* bottone */
.upgrade-button{
    margin-right:4rem;   
}

.upgrade-button a{
    text-decoration: none;
    color: white;
    border:1px solid white;
    padding: 1rem 3rem;
    border-radius: 2rem;
}
.main-contenitore{
    width: 100%;
    height: 100%;
    margin-top: 7vh;
    padding-left: 2rem;

}

.main-contenitore h4{
    margin-bottom: 1rem;
}


/* interno del main contenitore */

.filtra{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    padding-top: 2rem;
}
.filtra ul{
    text-align: center;
}
.filtra ul li{
    display: inline-block;
    font-weight: 600;
    color: var(--font);
    
}

.filtra ul li:hover{
    border-bottom: 1px solid var(--borderbott-green);
    color: var(--white-col);
}
.song-container{
    display: flex;
}

.song{
    width: calc(100% / 6 - 2rem);
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
   
}
.play-hover{
    position: relative;
}
.play-hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
    font-size: 3rem;
    opacity: 0;
}


.play-hover:hover img{ 
    opacity: 0.5;
 } 

 

.play-hover:hover i{ 
    opacity: 1;
} 





.circle{
    border-radius: 50%;
    object-fit: cover;
}

.song .text{
    text-align: center;
}
.song h3{
    padding-top: 2rem;
}

.song h4{
    padding-top: 0.5rem;
    color: var(--subtitle-color);
}


/* mediaquery */

@media screen and (max-width:1100px){
    .filtra{
        width: 90%;
        
    } 
    .filtra h3{
        width: calc(100% / 6 );
    }
    .song-container{
        flex-wrap: wrap;
    }
    .song{
        width: calc(100% / 4 - 1rem);
    }
    
}

@media screen and (max-width:700px){
    .song{
        width: calc(100% / 2 - 2rem);
    }
    .icons-player-left{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width:600px){
    .song{
        width: calc(100% / 2 - 2rem);
    }
    .sidebar{
        width: 80px;
    }
    .primo-logo{
        display: none;
    }

    .secondo-logo{
        display: block;
        margin: 0.6rem;
        width: 2rem;
    }
    .text-sidebar{
        display: none;
    }
    .container-sidebar hr{
        display: none;
    }
    .container-sidebar .installa{
        padding-bottom: 1rem;
    }
    .central{
        width: calc(100% - 80px );
        margin-left: 80px;
    }
    .upgrade-bar{
        width: calc(100% - 80px);
    }
}
